body{ 
    background-color: #444;
/*    text-align: center;*/
}


h1{ 
/*  All here is using Google Fonts- Sec4 - Lecture 25*/
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Lato', serif, sans-serif;
}

h2{ 
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Raleway', serif, sans-serif;
}

h3{ 
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Spirax', serif, sans-serif;
}

.formating{
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
/*  letter-spacing: 10px;       */
    word-spacing: 30px;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;  /* value goes from 0 to 1*/
/*    display: block; /* This is how we can center the image   //
    margin: auto; */
    margin: 60px;
}

/*Padding and Margin*/
.borderImg{
/*  border: 10px dashed red;
    border-radius: 50%;         */
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px 30px 40px; /*these values means the paddin "clock wise" top, R, botton, L...
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 3x0px;
    padding-left: 40px;*/
}

ul li{
    color: white;
    font-size: 20px;
}

ul > li{
    color: yellow;
}




